name: Plugins - CD
run-name: Deploy ${{ inputs.branch }} to ${{ inputs.environment }} by @${{ github.actor }}

on:
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to publish from. Can be used to deploy PRs to dev
        default: main
      environment:
        description: Environment to publish to
        required: true
        type: choice
        options:
          - "dev"
          #- "ops"
      docs-only:
        description: Only publish docs, do not publish the plugin
        default: false
        type: boolean

permissions: {}

jobs:
  cd:
    name: CD
    uses: grafana/plugin-ci-workflows/.github/workflows/cd.yml@ci-cd-workflows/v4.2.0
    permissions:
      contents: write
      id-token: write
      attestations: write
    with:
      branch: ${{ github.event.inputs.branch }}
      environment: ${{ github.event.inputs.environment }}
      docs-only: ${{ fromJSON(github.event.inputs.docs-only) }}
      scopes: grafana_cloud
      grafana-cloud-deployment-type: provisioned

      # Argo inputs
      trigger-argo: ${{ github.event.inputs.branch == 'main' }}
      argo-workflow-slack-channel: "#grafana-plugins-platform-ci"

      # CI inputs
      run-playwright: true
      upload-playwright-artifacts: true
      node-version: 22
